.dash_img {
  min-height: 100vh;
  background-image: url(/assets/images/dashboard.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(20%);
  padding: 10rem;
  z-index: 10;
}
h2,
h4 {
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  padding: 10px 200px;
  margin: 0 0 0 65px;
}
h2 {
  top: 200px;
  padding: 10px 20rem 0 0;
    margin: 0 0 0 65px;
}

h4 {
  top: 240px;
  width: 100%;
  box-shadow: rgb(164 164 164 / 35%) 23px 15px 13px 6px;
  padding: 10px 20rem 0px 0;
}
